DATABASE_HOSTNAME=localhost
DATABASE_PORT=3308
DATABASE_PASSWORD=password
DATABASE_NAME=btlcnpm
DATABASE_USERNAME=root
SECRET_KEY=secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

EMAIL_USERNAME=
EMAIL_PASSWORD=
GOOGLE_API_KEY=
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY0=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=